@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "inter", sans-serif;
}

.fond1{
    position: absolute;
    background-color: #032D67;
    width: 100%;
    height: 1238px;
    margin-top: -6%;
}

body{
    background-color: #0A1E39;
}

.header{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}

.logo{
    display: inline-block;
    float: left;
    margin-left: 10%;
    margin-top: 2%;
    width: 189px;
    height: 70px;
}

.icon{
    cursor: pointer;
    float: right;
    margin-right: 10%;
    margin-top: 2%;
    font-size: 45px;
    color: #CC008A;
}

.div_1{
    position: relative;
    display: flex;
    align-items: center;
}

.jacket{
    display: block;
    width: 100%;
    margin-top: 15%;
    border-radius: 25px;
    z-index: 2;
}

.forme1{
    position: absolute;
    background-color: #CC008A;
    margin-top: 52%;
    margin-left: -10%;
    width: 746px;
    height: 472px;
    z-index: 1;
    border-radius: 25px;
}

.fond{
    background-color: #7cb2fd;
}

.div1_text{
    display: block;
    position: absolute;
    width: 856px;
    height: 412px;
    margin-left: 23%;
    margin-top: 91%;
    padding: 3%;
    border-radius: 25px;
    background-color: #0A1E39;
    z-index: 3;
}

.div1_text, h1{
    color: #CC008A;
    font-size: 40px;
    margin-bottom: 3%;
}

.div1_text, p{
    color: #FFFFFF;
    font-size: 32px;
}

.button1{
    border-radius: 28px;
    color: #ffffff;
    font-size: 32px;
    border-style: none;
    background: #CC008A;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin: 4%;
    cursor: pointer;
}
