@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    background-color: #0A1E39;
}

.header{
    top: 0;
    left: 0;
    width: 100%;
}

.logo{
    display: inline-block;
    float: left;
    margin-left: 10%;
    margin-top: 2%;
    width: 189px;
    height: 70px;
}

.icon{
    cursor: pointer;
    float: right;
    margin-right: 10%;
    margin-top: 2%;
    font-size: 45px;
    color: #CC008A;
}

.div_1{
    position: relative;
    display: flex;
    align-items: center;
}

.fond1{
    position: absolute;
    background-color: #032D67;
    width: 100%;
    height: 50%;
}

.jacket{
    width: 100%;
    margin-top: 15%;
    border-radius: 5%;
    z-index: 1;
}